ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-haiku-4-5
PINATA_API_KEY=
PINATA_SECRET_KEY=
VARA_ACCOUNT=agent-wallet
PROGRAM_ID=
CONTRACT_IDL=./content_agent.idl
NETWORK=testnet
AGENT_NETWORK_PID=0x19f27f4c906a5ac230be82d907850d44c7a7fff1b4c6903f62e78e09e0b353f3
AGENT_NETWORK_IDL=./agents_network_client.idl
DAILY_DIGEST_PRICE=1000000000000
IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
